{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "sarang.kulkarni@colorado.edu",
      "Space": "prod"
    },
    "Name": "devops-insights-IIOT",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}